.blog-img#img1 img {
    height: 100%;
}

.blog-img {
    position: relative;
    width: 100%;
    margin: 15%;
}

.overlay {
    width: 100%;
    background-color: #892be232;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: ease 1s;
    text-align: center;
}
.blog-img:hover .overlay{
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #00208065;
}
img{
    width: 100%;
}
.overlay a{
    color: white;
    width: 100%;
    display: block;
    text-decoration: none;
    font-size: 40px;
}
nav{
    background-color: #714e91;
    color: white;
    text-decoration: none;

}
.logo{
    justify-content: space-between;
}
nav a{
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.z-btn{
    width: 15%;
    height: 50px;
    background-color: #714e91;
    color: white;
    transition: 1s;

}
.z-btn:hover{
    background-color: transparent;
    color: #714e91;
    border: 15px #714e91;
}
header{
    background-image: url(/imgs/banner/banner1.jpg);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
.project{
    margin-top: 30px;
}